h1 {
    color: white;
    font-size: 4.7rem;
    margin-top: 150px;
    font-weight: normal;
}

.introduction-section {
    display: flex;
}

.introduction-landing p {
    margin-top: 50px;
}

.widgets-container {
    margin-top: 180px;
}