h1 {
    color: var(--color-h1);
    font-size: 4.7rem;
    margin-top: 150px;
    font-weight: 600;
    max-width: 700px;
    line-height: 1;
    overflow: hidden;
    flex-wrap: wrap;
}

.introduction-section {
    display: flex;
    height: 880px;
    position: relative;
}

.introduction-landing {
    z-index: 3;
}

.introduction-landing p {
    margin-top: 50px;
}

.introduction-paragraph-animation {
    animation-name: introduction-landing-paragraph;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
    transform: translate(0, 5px);
}

.widgets-container {
    top: 150px;
    animation-name: widgets-container;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: absolute;
    right: -40px;
}

.hidden-widgets-container {
    display: none;
}

a svg {
    transform: rotate(-45deg);
    transition: transform 0.3s;
}

a:hover svg {
    transform: translateX(2px) rotate(-45deg) translateY(3px);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    filter: var(--filter)
}

.header-letter {
    display: inline-block;
    transform: translate(0, 75px);
    animation-name: header-letter;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    vertical-align: text-top;
}

.introduction-link-to-projects {
    opacity: 0;
    animation-name: introduction-link-to-projects;
    animation-delay: 2.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: translate(0, 5px);
}

.arrow-to-projects {
    fill-opacity: 0%;
    animation-name: arrow-animation;
}



@keyframes header-letter {
    0% {
        transform: translate(0, 75px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

@keyframes widgets-container {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes introduction-landing-paragraph {
    0% {
        opacity: 0%;
        transform: translate(0, 5px);
    }

    100% {
        opacity: 100%;
        transform: translate(0, 0px);
    }
}

@keyframes introduction-link-to-projects {
    0% {
        opacity: 0%;
        transform: translate(0, 5px);
    }

    100% {
        opacity: 100%;
        transform: translate(0, 0px);
    }
}

@keyframes arrow-animation {
    0% {
        fill-opacity: 0;
    }

    100% {
        fill-opacity: 100%;
    }
}

@media only screen and (max-width: 1280px) {
    .widgets-container {
        top: 200px;
    }

    h1 {
        margin-top: 80px;
    }
}



@media only screen and (max-width: 1024px) {

    h1 {
        font-size: 3.8rem;
        margin-top: 40px;
    }

    .widgets-container {
        top: 250px;
        scale: .9;
        right: -90px;
    }


}

@media only screen and (max-width: 768px) {

    h1 {
        font-size: 3rem;
        width: 100%
    }

    .widgets-container {
        top: 450px;
        scale: .7;
        right: 0%;
    }


}