h1 {
    color: white;
    font-size: 4.7rem;
    margin-top: 150px;
    font-weight: normal;
}

.introduction-section {
    display: flex;
}

.introduction-landing p {
    margin-top: 50px;
}

.widgets-container {
    margin-top: 180px;
}

a svg {
    transform: rotate(-45deg);
    transition: transform 0.3s;
}

a:hover svg {
    transform: translateX(2px) rotate(-45deg) translateY(3px);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);

}