.example-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-thumbnail {
    animation-name: project-thumbnail;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes project-thumbnail {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}