.op-0 {
    opacity: 0;
}

.about-heading {
    animation-name: about-heading;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.skills-heading {
    animation-name: skills-heading;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.pre-biography-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 4rem;
}

.pre-biography {
    margin-bottom: 70px;
    opacity: 0;
    grid-column: span 8/span 8;
}

.biography-paragraph {
    margin: 25px 0 20px;
    opacity: 0;
}

.about-paragraphs {
    grid-column: span 8/ span 8;
}


.about-paragraph {
    animation-name: about-paragraph;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.portrait-container {
    display: flex;
    transform: scale(0);
    -webkit-transform: scaleX(0);
    animation-name: portrait-container;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    transform-origin: left;
    -webkit-transform-origin: left;
    animation-timing-function: cubic-bezier(.4, 0, .2, 1);
    background-color: var(--photo-background);
    grid-column-start: 9;
    grid-column-end: 13;
    aspect-ratio: 1/1;
}

@supports not (aspect-ratio: 1/1) {
    .portrait-container {
        height: 0;
        padding-top: 100%;
        overflow: hidden;
        background-size: cover;
        position: relative;
    }

    .portrait-photo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.portrait-photo {
    opacity: 0%;
    animation-name: portrait-photo;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.skill-icon {
    height: 0;
    width: 0;
    transform-origin: bottom right;
    animation-name: skill-icon;
    animation-fill-mode: forwards;
    animation-duration: .4s;
}

.icons-container {
    margin-top: 40px;
    height: 50px;
    display: flex;
    align-items: end;
}

@keyframes skill-icon {
    0% {
        height: 0;
        width: 0;
    }

    100% {
        width: 40px;
        height: 40px;
    }
}

@keyframes about-heading {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes skills-heading {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes about-paragraph {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes portrait-container {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes portrait-photo {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@media only screen and (max-width: 1280px) {
    .portrait-container {
        grid-column-start: 7;
        grid-column-end: 13;
    }

    .about-paragraphs {
        grid-column: span 6/span 8;
    }

    .pre-biography {
        grid-column: span 6/span 8;
    }

}

@media only screen and (max-width: 1024px) {
    .pre-biography-container {
        column-gap: 2rem;
    }

}

@media only screen and (max-width: 768px) {
    .portrait-container {
        width: 60%;
    }

    .portrait-container-basics {
        grid-column-start: 1;
        grid-row-start: -1;
        grid-row-end: 9;
    }

    .portrait-photo {
        display: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .about-paragraphs {
        grid-column: span 11/span 8;
    }

    .pre-biography {
        grid-column: 1/-1;
    }

    @supports not (aspect-ratio: 1/1) {
        .portrait-container {
            height: 0;
            padding-top: 60%;
            overflow: hidden;
            background-size: cover;
            position: relative;
        }

        .portrait-photo {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

@media only screen and (max-width: 400px) {
    .pre-biography {
        grid-column: span 10 / span 8;
    }
    

    .about-paragraphs {
        grid-column: span 10/ span 8;
    }

}