.contact-label:nth-child(2) {
    margin-top: 40px;
}

.contact-label:nth-child(3) {
    margin-top: 40px;
}

.input {
    border-bottom: 1px solid crimson;
}

input,
textarea {
    margin-top: 8px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

textarea {
    height: 180px;
}

.trademark {
    font-size: 1rem;
    color: var(--trademark);
}

.warning-message {
    font-size: smaller;
    font-weight: lighter;
    color: crimson;
    margin-bottom: 40px;
}

.warning-message-disabled {
    display: none;
}

.pass {
    border-bottom: 1px solid #20BE5B
}

.contact-paragraph {
    animation-name: contact-paragraph;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translate(0, 5px);
}

.contact-paragraph a {
    color: var(--paragraph);
}

.contact-label {
    animation-name: contact-label;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translate(0, 5px);
}

.contact-content {
    display: flex;
    row-gap: 6rem;
    column-gap: 4rem;
}

.contact-item {
    width: 50%;
}


@keyframes contact-paragraph {
    0% {
        opacity: 0%;
        transform: translate(0, 5px);
    }

    100% {
        opacity: 100%;
        transform: translate(0, 0px);
    }
}

@keyframes contact-label {
    0% {
        opacity: 0%;
        transform: translate(0, 5px);
    }

    100% {
        opacity: 100%;
        transform: translate(0, 0px);
    }
}

@media only screen and (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        row-gap: 0;
    }

    .contact-content p {
        margin-bottom: 6rem;
    }

    .contact-item {
        width: 100%;
    }
}