.navbar {
    display: flex;
    flex-direction: row;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    width: 100%;
    top: 0;
    opacity: 0%;
    animation-name: navbar;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes navbar {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.menu-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 28px;
}

.link-animation {
    font-size: 1.2rem;
    color: #8f8f8f;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.link-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: #8f8f8f;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out
}

.link-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.display-mode {
    height: inherit;
}

.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: #8f8f8f;
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out
}