.navbar {
    display: flex;
    flex-direction: row;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    width: 100%;
    top: 0;
}

.menu-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 28px;
}

.menu-links a {
    font-size: 1.2rem;
    color: #8f8f8f
}

.display-mode {
    height: inherit;
}