.navbar {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-color: transparent;
}

.menu-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
}

.menu-links a {
    font-size: 1.2rem
}