.widget-container {
    mask: radial-gradient(circle, black, transparent);
    ;
    -webkit-mask: radial-gradient(circle, black, transparent);
    position: relative;
}

.dummy-circle {
    border-radius: 50%;
}

.animation-dummy-base {
    width: 200px;
    height: 450px;
    background-color: #2b2b2b;
    position: absolute;
    left: calc(50% - 100px);
    border-radius: 5px;
}

.animation-dummy-rectangle {
    background-color: #353535;
    border-radius: 5px;
    width: 160px;
    height: 60px;
    position: absolute;
    opacity: 0%;
    animation-duration: 1.2s;
    transition-duration: 1.2s;
}

.animation-dummy-square {
    background-color: #353535;
    border-radius: 5px;
    width: 140px;
    height: 140px;
    position: absolute;
    opacity: 0%;
    animation-duration: 1.2s;
    transition-duration: 1.2s;
}

.animation-dummy-item-in {
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}

.animation-dummy-item-out {
    animation-name: fadeOut;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

.base-dummy-content {
    height: 360px;
    width: 190px;
    position: absolute;
    left: 20px;
    top: 20px;
}