@import url('https://fonts.googleapis.com/css?family=Narnoor');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Narnoor', sans-serif;
}

body {
    background-color: #171717;
    display: flex;
    justify-content: center;
    width: 100%;
}

#app {
    width: 100%;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #b5b5b5;
    font-size: 2rem;
}

p {
    font-size: larger;
    color: #B5B5B5;
}

header {
    position: sticky
}

.app-container {
    max-width: 1350px;
    display: flex;
    flex-direction: column;
}

h2 {
    color: #B5B5B5;
}

h3 {
    color: #6A6A6A;
    font-size: initial;
}

.section-border {
    height: 1px;
    background-color: #6A6A6A;
    width: 90%;
}

.section-border-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.section-border-heading {
    line-height: 5px;
}

.section-content {
    width: 90%;
}

.section-content-container {
    display: flex;
    justify-content: end;
}