@import url('https://fonts.googleapis.com/css?family=Narnoor');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Narnoor', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #171717;
    display: flex;
    justify-content: center;
    width: 100%;
}

#app {
    width: 100%;
    display: flex;
    justify-content: center;
}

a {
    text-underline-offset: 11px;
    color: #b5b5b5;
    font-size: 2rem;
}

.menu-links a:hover,
a:hover {
    color: #cecece;
}

p {
    font-size: larger;
    color: #B5B5B5;
}

header {
    z-index: 2
}

footer {
    padding: 30px 0 64px 0;
    display: flex;
    justify-content: space-between;
}

footer a {
    color: #8f8f8f;
}

.app-container {
    max-width: 1350px;
    display: flex;
    flex-direction: column;
}

h2 {
    color: #B5B5B5;
}

h3 {
    color: #6A6A6A;
    font-size: initial;
}

.main-section {
    padding-bottom: 200px;
}

.projects-section,
.about-section,
.contact-section {
    padding-top: 100px;
}

.section-border {
    height: 1px;
    background-color: #292929;
    width: 92%;
}

.section-border-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.section-border-heading {
    line-height: 5px;
}

.section-content {
    width: 92%;
}

.section-content-container {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    margin-top: 60px;
}

.social-networks-container {
    display: flex;
    justify-content: space-between;
    width: 160px;
}

.trademark {
    font-size: small;
}

.tech-icons-container {
    margin-top: 100px;
}

.tech-icons-container div {
    margin-top: 40px;
}

.tech-icons-container svg {
    margin-right: 20px;
}

.about-paragraph {
    margin: 20px 0 20px 0;
}

.contact-label {
    color: #B5B5B5;
    font-size: 1.3rem;
}

.contact-label input,
textarea {
    background-color: #171717;
    border-style: none;
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 20px;
    color: #B5B5B5;
    outline: none;
}

/* .contact-label input,
textarea:valid {
    border-bottom: 1px solid #454545;
}

.contact-label input,
textarea:invalid {
    border-bottom: 1px solid #DC6565
} */

form {
    min-width: 550px
}

.submit-button {
    background-color: #171717;
    border-style: none;
    color: #B5B5B5;
    margin-top: 50px;
    display: flex;
    align-items: baseline;
    font-size: 2rem;
    font-weight: normal;
    cursor: pointer;
}

.submit-button svg {
    scale: 1;
    transition: scale 0.3s;
}

.submit-button:hover svg {
    scale: 1.5;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: 0.3s;

}

::placeholder {
    color: #454545
}


body::-webkit-scrollbar-thumb {
    scrollbar-color: #000;
}