@import url('https://fonts.googleapis.com/css?family=Narnoor');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Narnoor', sans-serif;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

[style="color-scheme: dark"] {
    --color-h1: #ededed;
    --nav-link-color: #8f8f8f;
    --link-white-color: #c1bfbd;
    --color-bg: #121212;
    --paragraph: #b5b5b5;
    --filter: brightness(2);
    --burger-filter: brightness(.5);
    --photo-background: #1D1D1D;
    --dummy-search-bar: #252525;
    --animation-dummy-rectangle: #222222;
    --dummy-base-box-shadow: -10px 20px 30px #171717;
    --section-border: #1F1F1F;
    --h3: #6A6A6A;
    --social-network: #8F8F8F;
    --trademark: #6A6A6A;
    --burger-menu: #292929;
}

[style="color-scheme: light"] {
    --font-color: #c1bfbd;
    --nav-link-color: #6A6A6A;
    --link-white-color: #C1BFBD;
    --color-bg: #EDEDED;
    --paragraph: #6A6A6A;
    --filter: brightness(.5);
    --burger-filter: brightness(2);
    --photo-background: #D3D3D3;
    --dummy-search-bar: #E2E2E2;
    --animation-dummy-rectangle: #E2E2E2;
    --dummy-base-box-shadow: -10px 20px 30px lightgray;
    --section-border: #E3E3E3;
    --h3: #B5B5B5;
    --social-network: #454545;
    --trademark: #8F8F8F;
    --color-h1: #373737;
    --burger-menu: #DADADA;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg: #EDEDED;
        --color-fg: #121212;
        --color-h1: #373737;
        --nav-link-color: #6A6A6A;
        --paragraph: #6A6A6A;
        color-scheme: light;
        --filter: brightness(.5);
        --burger-filter: brightness(2);
        --photo-background: #D3D3D3;
        --dummy-search-bar: #E2E2E2;
        --animation-dummy-rectangle: #E2E2E2;
        --dummy-base-box-shadow: -10px 20px 30px lightgray;
        --section-border: #E3E3E3;
        --h3: #B5B5B5;
        --social-network: #454545;
        --trademark: #8F8F8F;
        --burger-menu: #DADADA;
    }
}

body {
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    width: 100%;
}

#app {
    width: 100%;
    display: flex;
    justify-content: center;
}

a {
    text-underline-offset: 11px;
    color: #B5B5B5;
    font-size: 2rem;
}

.menu-links a,
.introduction-link-to-projects a {
    color: var(--nav-link-color);
}

p {
    font-size: large;
    color: var(--paragraph);
}

header {
    z-index: 2
}

footer {
    padding: 30px 0 64px 0;
    display: flex;
    justify-content: space-between;
}

footer a {
    color: #8f8f8f;
}

.app-container {
    max-width: 1450px;
    min-width: 350px;
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
}

h2 {
    color: #B5B5B5;
}

h3 {
    color: var(--h3);
    font-size: initial;
}

.main-section:nth-of-type(1) {
    padding-bottom: 280px;
}

.main-section:nth-of-type(2) {
    padding-bottom: 50px;
}

.main-section:nth-of-type(3) {
    padding-bottom: 150px;
}

.main-section:nth-of-type(4) {
    padding-bottom: 50px;
}

.portrait-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects-section,
.about-section,
.contact-section {
    padding-top: 100px;
}

.about-details {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 4rem;
    row-gap: 2.5rem;
}

.section-border {
    height: 1px;
    background-color: var(--section-border);
    width: 92%;
}

.section-border-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.section-border-heading {
    line-height: 5px;
    animation-name: section-border-heading;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    transform: translate(-5px, 0px)
}

.op-0 {
    opacity: 0;
}

.section-content {
    width: 92%;
}

.section-content-container {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    margin-top: 60px;
}

.social-networks-container {
    display: flex;
    justify-content: space-between;
    width: 210px;
}

.social-networks-container a {
    font-size: 1.7rem;
}

.tech-icons-container {
    margin-top: 100px;
}

.tech-icons-container svg {
    margin-right: 20px;
}

.contact-label {
    color: var(--paragraph);
    font-size: 1.3rem;
    display: block
}

.contact-label input,
textarea {
    background-color: inherit;
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 16px 12px 16px 12px;
    color: var(--paragraph);
    outline: none;
}

.submit-button {
    background-color: inherit;
    border-style: none;
    color: var(--paragraph);
    margin-top: 50px;
    display: flex;
    align-items: baseline;
    font-size: 2rem;
    font-weight: normal;
    cursor: pointer;
}

.submit-button svg {
    scale: 1;
    transition: scale 0.3s;
}

.submit-button:hover svg {
    scale: 1.5;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: 0.3s;
    filter: var(--filter)
}

::placeholder {
    color: var(--h3)
}

@media only screen and (max-width: 1440px) {
    .app-container {
        width: 1280px;
        margin: auto;
    }
}

@media only screen and (max-width: 1280px) {
    .app-container {
        width: 1024px;
        margin: auto;
    }

    .about-details {
        column-gap: 4rem;
    }

}

@media only screen and (max-width: 1024px) {
    .app-container {
        width: 800px;
        margin: auto;
    }

    .about-details {
        column-gap: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .app-container {
        padding: 0 15px 0 15px;
    }

    .introduction-section {
        left: 50%;
        transform: translate(-50%, 0px);
        max-width: 640px;
        padding: 0 15px 0 15px;
    }

    .menu-links {
        display: none;
    }

    .social-networks-container {
        width: 160px;
    }

    .social-networks-container a {
        font-size: 1.4rem;
    }



}