.burger-menu {
    height: 100vh;
    position: fixed;
    background-color: var(--burger-menu);
    right: -15px;
    width: 0%;
    padding: 100px 0 120px 50px;
    flex-direction: column;
    top: 0;
    justify-content: space-around;
    align-items: flex-start;
}

.menu-visible {
    display: flex;
}

.hidden {
    overflow: hidden;
}

.burger-open {
    animation-name: burger-open;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.87, 1.15, .42, .93)
}

.burger-open .nav-link {
    animation-name: open-links;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}

@keyframes open-links {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }

    100% {
        opacity: 100%;
        transform: translate(5px, 0);
    }
}

.burger-close {
    display: flex;
    animation-name: burger-close;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(1, -0.21, .42, .93)
}

.burger-close .nav-link {
    animation-name: close-links;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes close-links {
    0% {
        opacity: 100%;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0%;
        transform: translate(-15px, 0);
    }
}



@keyframes burger-open {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes burger-close {
    0% {
        width: 80%;
    }

    100% {
        width: 0%;
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    .menu-visible {
        display: none;
    }

    .burger-close {
        display: none;
        animation-name: none;
    }
}

@media only screen and (max-width: 768px) {

    .display-mode {
        height: 30px;
    }

    .nav-link {
        opacity: 0;
    }

}